.newcollection-container{
  margin: 100px 50px 50px 50px;
}
.newcollection-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
}
.newcollection-grid .item{
  transition: transform 0.2s;
  transform: skewX(-5deg);
}
.newcollection-grid .item:hover{
    transform: skewX(-5deg) scale(1.05);
}
@media (min-width: 1200px) {
  .newcollection-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1199px) and (min-width: 900px) {
  .newcollection-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 899px) {
  .newcollection-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
