.popular-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}

.items-grid {
  position: relative;
  width: 90%;
  overflow: visible;
}
.items-grid .item{
  transition: transform 0.2s;
  transform: skewX(-5deg);
}
.items-grid .item:hover{
    transform: skewX(-5deg) scale(1.05);
}
