.display-container {
  display: flex;
  flex-direction: column;
  padding: 50px 100px;
  gap: 150px;
}
.display-top{
  display: flex;
  flex-direction: row;
}
.display-left {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.display-imglist {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.display-imglist img {
  width: 100px;
}
.display-main-img img {
  height: 100%;
}
.display-right {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0px 100px;
  width: 30%;
}
.product-rating {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
}
.product-rating p {
  font-weight: 600;
}
.product-price {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.product-price p:first-child {
  color: #e60023;
  font-weight: bold;
}

.product-price p:nth-child(2) {
  text-decoration: line-through;
  color: #888;
}
.product-price p:nth-child(3) {
  color: #e60023;
}
.product-size p {
  font-size: 20px;
  font-weight: 600;
}
.product-size-label {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.product-size-label button {
  width: 40px;
}
.product-action-box {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.add-cart-btn {
  cursor: pointer;
  padding: 10px;
  width: 90%;
  font-weight: 600;
  background: black;
  color: white;
  border: 1px solid transparent;
}
.add-cart-btn:hover {
  cursor: pointer;
  background: rgb(212, 211, 211);
  color: black;
  border: 1px solid #0000006b;
}
.fav-btn {
  cursor: pointer;
  width: 10%;
  font-size: 20px;
  padding-top: 6px;
  border: 1px solid black;
  background-color: white;
}
.fav-btn:hover {
  cursor: pointer;
  background: rgb(244, 240, 240);
}
.fav-btn-color {
  color: #e31b23;
}
